<!DOCTYPE html>
<html>
<head> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type = "text/javascript" src = "app/main.js"></script>
  <link href = "assets/css/common.css" rel = "stylesheet">
</head>
<body>
    <h1>
    This is my ToDoList <br>
    </h1>

    <div ng-app="myToDoList" ng-controller="myCtrl">
    <input ng-model="addRec">
    <button ng-click="addRecord()">Add</button>
    <p>{{errortext}}</p>

    <ul>
        <li ng-repeat="x in products">{{x}} <img src="assets/images/del.png" ng-click="removeRecord($index)"></li>
    </ul>
    </div>
</body>
</html>
